.menu {
    padding: 20px 250px;
  }

  .header {
    background-image: url('/assets/cardapio/header.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    &__text{

    }
  }